<footer class="py-3 mt-3">
    <div class="container">
        <div class="row" style="border-bottom: #ccc 1px solid;">
            <div class="col-12 col-sm-4">
                <h5>Liens rapides</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Boutique</a></li>
                    <li><a href="#">Factions</a></li>
                    <li><a href="#">Actualités</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4">
                <h5>Factions</h5>
                <ul class="list-unstyled">
                <% if(factionListe != null){ %>
                    <% factionListe.forEach(fac => { %>
                    <li> <a href="/factions/faction/<%= fac._id %>"><%= fac.name %></a></li>
                    <% }) %>
                <% } %>
                </ul>
            </div>
            <div class="col-12 col-sm-4">
                <h5>Informations</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Règles</a></li>
                    <li><a href="#">Statistiques</a></li>
                    <li><a href="#">Crédits</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-1" style="justify-content: space-between;display: flex;padding: 0;">
                <a href="" style="color: #E3E3E3;">Copyright© Schildkrote Communist 2023</a>
                <a href="https://discord.gg/wqCkCcC9FE" target="_blank"><img style="filter:invert(1);" src="/discord.svg" width="20" height="20"></a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
